* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.block-container {
  max-width: 1110px;
  margin: 0 auto;
}
.banner {
  padding: 24px;
  background-color: #F9F9FB;
}
.banner .item {
  padding: 0;
  display: flex;
  align-items: center;
}
.banner .item .logo {
  width: 100px;
}
.banner .item .block {
  display: flex;
  align-items: center;
}
.banner .item .block .icon {
  width: 40px;
  height: 40px;
}
.banner .item .block .info {
  margin-left: 8px;
}
.navbar {
  background-color: #FF5F13;
  padding: 16px;
}
.navbar .nav-link {
  font-weight: bold;
  color: white;
}
#introductoryCarousel {
  max-height: 600px;
  overflow: hidden;
}
#introductoryCarousel .carousel-control-prev {
  width: auto;
}
#introductoryCarousel .carousel-control-prev .carousel-control-prev-icon {
  background-color: white;
  background-image: url('assets/introductory-carousel/left-arrow.svg');
  background-size: 40%;
  width: 50px;
  height: 50px;
}
#introductoryCarousel .carousel-control-next {
  width: auto;
}
#introductoryCarousel .carousel-control-next .carousel-control-next-icon {
  background-color: white;
  background-image: url('assets/introductory-carousel/right-arrow.svg');
  background-size: 40%;
  width: 50px;
  height: 50px;
}
#introductoryCarousel .carousel-indicators button {
  opacity: 1;
}
#introductoryCarousel .carousel-indicators button.active {
  background-color: #FF5F13;
}
@media (max-width: 1200px) {
  #introductoryCarousel {
    max-height: 500px;
  }
}
@media (max-width: 992px) {
  #introductoryCarousel {
    max-height: 400px;
  }
}
.what-we-do {
  padding: 72px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.what-we-do .title-block {
  text-align: center;
}
.what-we-do .title-block .title-question {
  color: #FF5F13;
}
.what-we-do .cards-block {
  padding-top: 48px;
  display: flex;
  justify-content: center;
}
.what-we-do .cards-block .card {
  border-radius: 0;
  padding: 16px;
}
.what-we-do .cards-block .card .number {
  display: flex;
  justify-content: flex-end;
  color: #DCDCDC;
}
.what-we-do .cards-block .card .icon {
  width: 60px;
  height: 60px;
}
.why-choose-up {
  color: white;
  padding: 24px;
  background-color: #061528;
}
.why-choose-up .img-block {
  position: relative;
}
.why-choose-up .img-block img {
  width: 100%;
  position: absolute;
  top: -50px;
  left: 0;
}
.why-choose-up .info-block {
  margin: 0 auto;
  max-width: 400px;
}
.why-choose-up .info-block .title-question {
  color: #FF5F13;
}
.why-choose-up .info-block .details {
  color: #546171;
}
.why-choose-up .info-block .reasons-block {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.why-choose-up .info-block .reasons-block .reason-block {
  display: flex;
}
.why-choose-up .info-block .reasons-block .reason-block .icon {
  margin-right: 8px;
  width: 50px;
  height: 50px;
}
.get-a-quote {
  margin-top: 64px;
}
.get-a-quote .quote-form {
  max-width: 600px;
  margin: 0px auto;
  margin-bottom: 64px;
  background-color: #000000;
  color: #FFF;
}
.get-a-quote .quote-form h2,
.get-a-quote .quote-form h3 {
  margin: 0 0 10px;
}
.get-a-quote .quote-form .highlight {
  color: #FF5F13;
}
.get-a-quote .quote-form form {
  display: flex;
  flex-direction: column;
}
.get-a-quote .quote-form form .form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.get-a-quote .quote-form form .form-group input,
.get-a-quote .quote-form form .form-group textarea {
  width: 48%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #666;
  padding: 10px;
  color: #FFF;
  font-size: 16px;
}
.get-a-quote .quote-form form .form-group input:focus,
.get-a-quote .quote-form form .form-group textarea:focus {
  outline: none;
  border-bottom: 1px solid #FF5F13;
}
.get-a-quote .quote-form form .form-group textarea {
  width: 100%;
  height: 100px;
  resize: none;
}
.get-a-quote .quote-form form .form-group button {
  background-color: #FF5F13;
  border: none;
  color: #FFF;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}
.get-a-quote .quote-form form .form-group button:hover {
  background-color: #df4800;
}
.our-projects {
  background-color: #061528;
  color: white;
}
.our-projects .highlight {
  color: #FF5F13;
}
.our-projects .carousel-slide img {
  width: 100%;
}
